.appd_mainpage {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#0b365373, #0b36538a), url(../images/appd2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.rohit::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/appimg/rohit.jpg") no-repeat center center/cover;
  z-index: -1;
  opacity: 1;
  transition: all 0.5s ease-in;
}
.abhay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/appimg/Abhay.jpg") no-repeat center center/cover;
  z-index: -1;
  opacity: 1;
  transition: all 0.5s ease-in;
}

.yogesh::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/appimg/yogesh.jpg") no-repeat center center/cover;
  z-index: -1;
  opacity: 1;
  transition: all 0.5s ease-in;
}

.ayushi::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/appimg/panth.jpg") no-repeat center center/cover;
  z-index: -1;
  opacity: 1;
  transition: all 0.5s ease-in;
}

.vineet::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/appimg/vineet.jpg") no-repeat center center/cover;
  z-index: -1;
  opacity: 1;
  transition: all 0.5s ease-in;
}

.shweta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/appimg/shweta.jpg") no-repeat center center/cover;
  z-index: -1;
  opacity: 1;
  transition: all 0.5s ease-in;
}
