.cc_mainpage {
  width: 100%;
  height: 100vh;
  background:linear-gradient(#0b365373, #0b36538a),url(../images/ccbackground.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nishant::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/cc/nishant.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 1;  
    transition: all .5s ease-in;
  }
.akshat::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/cc/akshat.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 1;  
    transition: all .5s ease-in;
  }
.pravin::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/cc/pravin.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 1;  
    transition: all .5s ease-in;
  }
.jai::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/cc/jai.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 1;  
    transition: all .5s ease-in;
  }
.chahat::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/cc/chahat.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 1;  
    transition: all .5s ease-in;
  }

  .sambhav::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/cc/sambhav.png') no-repeat center center/cover;
    z-index: -1;
    opacity: 1;  
    transition: all .5s ease-in;
  }

  .anshul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/cc/anshul.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 1;  
    transition: all .5s ease-in;
  }

  .ishan::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/cc/ishan.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 1;  
    transition: all .5s ease-in;
  }

  .karn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/cc/karn.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 1;  
    transition: all .5s ease-in;
  }

  .yogesh::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/cc/yogesh.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 1;  
    transition: all .5s ease-in;
  }

  .dhananjay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/cc/dhananjay.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 1;  
    transition: all .5s ease-in;
  }

  .nishan::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/cc/Nishan.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 1;  
    transition: all .5s ease-in;
  }

  .nipun::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/cc/nipun.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 1;  
    transition: all .5s ease-in;
  }
  