.cyber_mainpage {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#0b365373, #0b36538a), url(../images/cyberbackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ojas::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/cyber/ojas.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 1;
    transition: all .5s ease-in;
}

.subhash::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/cyber/subhash.png') no-repeat center center/cover;
    z-index: -1;
    opacity: 1;
    transition: all .5s ease-in;
}

.parag::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/cyber/parag.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 1;
    transition: all .5s ease-in;
}

.aditya::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/cyber/aditya.png') no-repeat center center/cover;
    z-index: -1;
    opacity: 1;
    transition: all .5s ease-in;
}

.hritwik::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/cyber/hritwik.png') no-repeat center center/cover;
    z-index: -1;
    opacity: 1;
    transition: all .5s ease-in;
}

.vivek::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/cyber/vivek.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 1;
    transition: all .5s ease-in;
}

.samyak::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/cyber/samyak.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 1;
    transition: all .5s ease-in;
}