@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

.back {
  position: absolute;
  height: 450px;
  width: 675px;
  background-color: #12121379;
  border-radius: 3px;
  z-index: 8;
  display: none;
}

.webcontainer {
  width: 750px;
  z-index: 2;
  height: 400px;
  max-width: 800px;
  margin: auto;
  background: url(../images/hacker.jpg);
  background-size: cover;
  border-radius: 3px;
  display: flex;
  align-items: center;
  z-index: 8;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.596);
}

.header-text {
  flex: 1;
  box-sizing: border-box;
  color: #fff;
  font-family: "Muli", sans-serif;
  width: 100%;
  height: 100%;
  background-color: rgba(54, 53, 53, 0.411);
  padding-right: 8rem;
  padding-left: 2.5rem;
  padding-top: 25%;
}

.header-text h2 {
  font-size: 2rem;
  letter-spacing: 3px;
  margin: 0;
}

.header-text p {
  width: 90%;
  line-height: 1.3;
  margin: 0;
}

.header-text .btn {
  margin-top: 1rem;
  display: inline-block;
  border: none;
  background-color: #d14e05;
  color: #d9d1e7;
  padding: 1rem 1.4rem;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  word-spacing: 2px;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
}
