
.carousel {
    /* max-width: 600px; */
    width: 20rem;
    position: relative;
  }
  
  .carousel-item {
    display: none;
  }
  
  .carousel-item img {
    /* width: 100%; */
    /* max-width: 600px; */
    width: 20rem;
    height: 20rem;
  }
  
  .carousel-item-visible {
    display: block;
    animation: fadedVisibility 0.5s;
  }
  
  .carousel-actions {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
  }
  
  
  
  
  .carousel-actions #carousel-slide-nav {
    align-self: flex-end;
  }
  
  .carousel-actions #carousel-slide-nav span {
    display: inline-block;
    height: 12px;
    box-sizing: border-box;
    width: 12px;
    border-radius: 6px;
    background: transparent;
    border: 1px solid white;
    transition: all 0.5s;
  }
  
  .carousel-actions #carousel-slide-nav span{
    margin-right: 15px;
  }
  .carousel-actions #carousel-slide-nav span:nth-child(5){
    margin-right: 0;
  }
  
  .carousel-actions #carousel-slide-nav span.nav-current,
  .carousel-actions #carousel-slide-nav span.nav-current:hover {
    background: white;
  }
  
  .carousel-actions #carousel-slide-nav span:hover {
    background: white;
    cursor: pointer;
  }
  
  @keyframes fadedVisibility {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }
  