.desing_mainpage {
  width: 100%;
  height: 100vh;
  background:linear-gradient(#0b365373, #0b36538a),url(../images/design1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.rishab::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/webimg/rishabh.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 1;  
    transition: all .5s ease-in;
  }

  .ashutosh::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/Desing/ashu.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 1;  
    transition: all .5s ease-in;
  }

  .narendar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/webimg/narendra.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 1;  
    transition: all .5s ease-in;
  }

  .sree::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/Desing/shree.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 1;  
    transition: all .5s ease-in;
  }

  .vinamr::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/Desing/vinamr.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 1;  
    transition: all .5s ease-in;
  }