body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}
.polymorph {
  fill: url("#g1");
}
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -3;
}
.wrapperouter {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: linear-gradient(-270deg, #2e3946 0%, #576779 100%);
  /* background-image: url(../images/Confetti-Doodles.svg); */
  z-index: -2;
}
.container {
  box-shadow: #32363c8f 0px 0px 30px 10px;
  width: 100vw;
  border-radius: 1px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 4rem;
  z-index: 0;
  /* background-image: linear-gradient(
    60deg,
    rgba(41, 50, 60, 0) 0%,
    rgba(72, 85, 99, 0) 100%
  ); */
  background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
  box-sizing: border-box;
  /* height: 45vw; */
  /* width: 80vw; */
}
.container svg {
  width: 100%;
  z-index: -1;
  position: absolute;
  margin: 0;
  padding: 0;
  /* height: 100%; */
}
.animationcover {
  padding-right: 1rem;
  padding-top: 1rem;
}
.partone {
  width: 40%;
  height: 100%;
  display: flex;
  padding-left: 2rem;
  flex-direction: column;
  justify-content: space-between;
}
.parttwo {
  width: 50%;
  height: 100%;
}
.logo img {
  width: 3rem;
}
.logo {
  padding-top: 1rem;
}
.name {
  padding-top: 2rem;
}
.name h1 {
  font-size: 2.5rem;
  font-family: "Montserrat";
  color: white;
  font-weight: 500;
  margin: 0;
}
.partmid {
  width: 5%;
  height: 100%;
}
.a {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.a1 {
  width: 43%;
  transform: translateY(-6px);
  border-bottom: 1px solid white;
}
.a3 {
  width: 43%;
  transform: translateY(-6px);
  border-bottom: 1px solid white;
}
.a2 {
  color: white;
  font-size: 1rem;
  margin: 0 0.4rem;
}
.b {
  color: white;
  font-size: 2.1rem;
}
.c {
  width: 97%;
  border-bottom: 1px solid white;
}
.details {
  margin-top: 0.5rem;
  color: white;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 0.9rem;
}
#explore {
  border: none;
  outline: none;
  background-color: rgb(230, 168, 61);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 1px;
}
#exploreback {
  border: none;
  outline: none;
  background-color: rgba(230, 168, 61, 0);
  border: 1.5px solid white;
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border-radius: 1px;
  margin-left: 2rem;
  cursor: pointer;
}
.cta {
  margin-top: 1rem;
}
.seperator {
  margin-bottom: 6rem;
}
.backdrop{
  filter:  sepia(50%) brightness(50%);
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../images/webd3.jpg);
  background-size: cover;
  top: 0;
  left: 0;
  z-index: 6;
}
